<h4><%= @season.serial.title %></h4>
<h2>Season <%= @season.season_count %></h2>

<strong>Episodes:</strong>
<ul>
  <% @season.episodes.each do |episode| %>
    <li>Episode <%= episode.count %> <%= link_to 'Show', season_episode_path(@season, episode) %></li>
  <% end %>
</ul>

<%= link_to 'Back', @season.serial %>
