<div class="serials-head">
  <div class="">
    <h1>Serials</h1>
  </div>
  <br>
  <div class="serials-search">
    <%= render 'serial_search_form' %>
  </div>
</div>


<br>

<div class="serials-body">
  <div class="filters">
    <div class="filter tag-filter">
      <p>Tags</p>
      <% Tag.all.each do |tag| %>
        <%=raw tag_links(tag) %>
      <% end %>
      <%= link_to 'all', serials_path, class: 'badge badge-light' %>
    </div>

    <div class="filter genre-filter">
      <p>Genres</p>
      <ul class="list-group list-group-flush">
        <% Genre.all.each do |genre| %>
          <li class="list-group-item" >
            <%=raw genres_links(genre) %>
          </li>
        <% end %>
        <li class="list-group-item">
          <%= link_to 'All', serials_path, class: 'genre-filter-link' %>
        </li>
      </ul>
    </div>
  </div>

  <div class="serials-container">
    <% @serials.each do |serial| %>
    <div class="card serial-card">
      <%= image_tag serial.image.url(:thumb), class: "card-img-top", alt: serial.title if serial.image? %>
      <div class="card-body">
        <div class="card-content">
          <h5 class="card-title"><%= serial.title %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= serial.year_of_premiere %></h6>
          <% if serial.tags.any? %>
              <% serial.tags.each do |tag| %>
                <span class="badge badge-light serial-tag"><%= tag.tag_name %></span>
              <% end %>
          <% end %>
          <p class="card-text"><%= truncate(serial.description, :length => 120) %></p>
        </div>

        <div class="card-links">
          <%= link_to 'Show', serial, class: "btn btn-light" %>
          <% if current_user && current_user.admin %>
            <%= link_to 'Edit', edit_serial_path(serial), class: "btn btn-light" %>
            <%= link_to 'Destroy', serial, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-light" %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<br>

<% if current_user && current_user.admin %>
  <%= link_to 'New Serial', new_serial_path, class: "btn btn-light" %>
<% end %>
