<div class="serial-container">
  <div class="serial-img-description-container">
    <div class="serial-preview">
      <%= image_tag @serial.image.url(:thumb), class: "card-img-top", alt: @serial.title if @serial.image? %>
    </div>
    <div class="serial-body">
      <div class="title-block">
        <h2 class="display-5"><%= @serial.title %></h2>

        <% if current_user %>
        <div class="">
          <div class="">
            <% favourite = Favourite.where(user_id: current_user.id, serial_id: @serial.id) %>
            <% if favourite == [] %>
              <%= link_to 'Add to favourites', serial_favourites_path(@serial), method: :create, class: "btn btn-light"  %>
            <% else %>
              <%= link_to 'Remove from favourites', serial_favourite_path(@serial, current_user), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-light" %>
            <% end %>
          </div>
          <% end %>
        </div>

      </div>

      <p>
        <strong>Year of premiere:</strong>
        <%= @serial.year_of_premiere %>
      </p>

      <p>
        <strong>County of origin:</strong>
        <%= @serial.country_id.blank? ? 'Wasn\'t mentioned.' : Country.where(id: @serial.country_id)[0].country_name %>
      </p>

      <p><%= @serial.description %></p>

      <% if @serial.genres.any? %>
        <p>Genres</p>
        <ul>
          <% @serial.genres.each do |genre| %>
            <li><%= genre.title %> <span><%= link_to('delete', delete_genre_serial_path(genre_id: genre.id), method: :delete) %></span></li>
          <% end %>
        </ul>
      <% end %>

      <% if current_user.admin?  %>
        <%= render 'add_genre_to_serial' %>
      <% end %>

    </div>
  </div>

  <hr class="my-4">
  <h3>Seasons:</h3>
  <ul class="list">
    <% @serial.seasons.ordered_by_count.each do |season| %>
      <li class="list-item">
        <%= link_to serial_season_path(@serial, season), class: "badge badge-light" do %>
          Season <%= season.id %>
        <% end %>
      </li>
    <% end %>
  </ul>

  <% if current_user.admin? %>
    <%= link_to 'Edit', edit_serial_path(@serial), class: "btn btn-light" %>
  <% end %>
  <%= link_to 'Back', serials_path, class: "btn btn-light" %>
</div>
