<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @serial.title %>
</p>

<p>
  <strong>Since:</strong>
  <%= @serial.since %>
</p>

<%= link_to 'Edit', edit_serial_path(@serial) %> |
<%= link_to 'Back', serials_path %>
