<div class="serial-container">
  <div class="serial-img-description-container">
    <div class="serial-preview">
      <%= image_tag @serial.image.url(:thumb), class: "card-img-top", alt: @serial.title if @serial.image? %>
    </div>
    <div class="serial-body">
      <div class="title-block">
        <h2 class="display-5"><%= @serial.title %></h2>

        <% if current_user %>
        <div class="">
          <% favourite = Favourite.where(user_id: current_user.id, serial_id: @serial.id) %>
          <% if favourite == [] %>
            <%= link_to 'Add to favourites', serial_favourites_path(@serial), method: :create, class: "btn btn-light"  %>
          <% else %>
            <%= link_to 'Remove from favourites', serial_favourite_path(@serial, current_user), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-light" %>
          <% end %>
        </div>
        <% end %>
      </div>

      <p>
        <strong>Year of premiere:</strong>
        <%= @serial.year_of_premiere %>
      </p>

      <p>
        <strong>County of origin:</strong>
        <%= @serial.country_id.blank? ? 'Wasn\'t mentioned.' : Country.where(id: @serial.country_id)[0].country_name %>
      </p>

      <p><%= @serial.description %></p>

      <div class="serial-info">
        <div class="">
          <% if @serial.genres.any? %>
            <p>Genres</p>
            <ul>
              <% @serial.genres.each do |genre| %>
                <li><%= genre.title %> <span><%= link_to('delete', delete_genre_serial_path(genre_id: genre.id), method: :delete) %></span></li>
              <% end %>
            </ul>
          <% end %>

          <% if @serial.tags.any? %>
            <p>Tags</p>
            <ul>
              <% @serial.tags.each do |tag| %>
                <li><%= tag.tag_name %></li>
              <% end %>
            </ul>
          <% end %>

          <% if @serial.actors.any? %>
            <p>Cast</p>
            <ul>
              <% @serial.actors.each do |actor| %>
                <li><%= actor.first_name %> <%= actor.last_name %> <span><%= link_to('delete', delete_actor_serial_path(actor_id: actor.id), method: :delete) %></span></li>
              <% end %>
            </ul>
          <% end %>

          <% if current_user&.admin?  %>
            <%= render 'add_genre_to_serial' %>
            <%= render 'add_actor_to_serial' %>
            <%= render 'add_tag_to_serial' %>
          <% end %>
        </div>

        <div class="serial-rating">
          <div class = 'rating-div'>
            <p>Overall rating </p>
            <% @serial.filled_stars.times do %>
              <span><%= icon('fas', 'star') %></span>
            <% end %>
            <% @serial.empty_stars.times do %>
              <span><%= icon('far', 'star') %></span>
            <% end %>
          </div>
          <% if current_user %>
            <div class = 'rating-div'>
                <p>My rating </p>
                <% counter = 0 %>
                <% @serial.current_user_stars(current_user).times do |i| %>
                <% counter += 1 %>
                  <%= button_to user_ratings_path(user_id: current_user.id, serial_id: @serial.id, value: counter), method: :post, class: 'star-btn', value: "#{ counter }" do %>
                    <%= icon('fas', 'star', class: 'rating-star', id: "#{ counter }") %>
                  <% end %>
                <% end %>
                <% @serial.current_user_empty_stars(current_user).times do |i| %>
                <% counter += 1 %>
                  <%= button_to user_ratings_path(user_id: current_user, serial_id: @serial, value: counter), method: :post, action: 'create', class: 'star-btn', value: "#{ counter }" do %>
                    <%= icon('far', 'star', class: 'rating-star', id: "#{ counter }") %>
                  <% end %>
                <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <hr class="my-4">
  <h3>Seasons:</h3>
  <ul class="list">
    <% @serial.seasons.ordered_by_count.each do |season| %>
      <li class="list-item">
        <%= link_to serial_season_path(@serial, season), class: "badge badge-light" do %>
          Season <%= season.season_number %>
        <% end %>
      </li>
    <% end %>
  </ul>

  <% if current_user&.admin? %>
    <%= link_to 'Edit', edit_serial_path(@serial), class: "btn btn-light" %>
  <% end %>
  <%= link_to 'Back', serials_path, class: "btn btn-light" %>
</div>
