<div class="serial-container">
  <div class="serial-img-description-container">
    <div class="serial-preview">
      <%= image_tag @serial.image.url(:thumb), class: "card-img-top", alt: @serial.title if @serial.image? %>
    </div>
    <div class="serial-body">
      <div class="title-block">
        <h2 class="display-5"><%= @serial.title %></h2>

        <div class="title-fav">
          <%= fav_button %>
        </div>
      </div>

      <p>
        <strong>Year of premiere:</strong>
        <%= @serial.year_of_premiere %>
      </p>

      <p>
        <strong>County of origin:</strong>
        <%= country_of_origin %>
      </p>

      <p><%= @serial.description %></p>

      <div class="serial-info">
        <div class="main-info info-div">
          <% if @serial.genres.any? %>
            <p class="serial-info-header">Genres</p>
              <% @serial.genres.each do |genre| %>
                <span class="badge badge-light">
                  <%= genre.title %>
                  <% if current_user&.admin? %>
                    <%= link_to('delete', delete_genre_serial_path(genre_id: genre.id), method: :delete) %>
                  <% end %>
                </span>
              <% end %>
          <% end %>

          <% if @serial.tags.any? %>
            <p class="serial-info-header">Tags</p>
              <% @serial.tags.each do |tag| %>
                <span class="badge badge-light">
                  <%= tag.tag_name %>
                  <% if current_user&.admin? %>
                    <%= link_to('delete', delete_tag_serial_path(tag_id: tag.id), method: :delete) %>
                  <% end %>
                </span>
              <% end %>
          <% end %>

          <% if @serial.actors.any? %>
            <p class="serial-info-header">Cast</p>
              <% @serial.actors.each do |actor| %>
                <span class="badge badge-light">
                  <%= actor.first_name %>
                  <%= actor.last_name %>
                  <% if current_user&.admin? %>
                    <%= link_to('delete', delete_actor_serial_path(actor_id: actor.id), method: :delete) %>
                  <% end %>
                </span>
              <% end %>
          <% end %>

          <br>
          <br>
          <br>

          <% if current_user&.admin?  %>
            <%= render 'add_genre_to_serial' %>
            <%= render 'add_actor_to_serial' %>
            <%= render 'add_tag_to_serial' %>
          <% end %>
        </div>

        <div class="serial-rating-status info-div">
          <div class = 'rating'>
            <p>Overall rating </p>
            <% @serial.filled_stars.times do %>
              <span><%= icon('fas', 'star') %></span>
            <% end %>
            <% @serial.empty_stars.times do %>
              <span><%= icon('far', 'star') %></span>
            <% end %>
          </div>
          <% if current_user %>
            <div class = 'rating'>
                <p>My rating </p>
                <% counter = 0 %>
                <% @serial.current_user_stars(current_user).times do |i| %>
                <% counter += 1 %>
                  <%= button_to user_ratings_path(user_id: current_user.id, serial_id: @serial.id, value: counter), method: :post, class: 'star-btn', value: "#{ counter }" do %>
                    <%= icon('fas', 'star', class: 'rating-star', id: "#{ counter }") %>
                  <% end %>
                <% end %>
                <% @serial.current_user_empty_stars(current_user).times do |i| %>
                <% counter += 1 %>
                  <%= button_to user_ratings_path(user_id: current_user, serial_id: @serial, value: counter), method: :post, action: 'create', class: 'star-btn', value: "#{ counter }" do %>
                    <%= icon('far', 'star', class: 'rating-star', id: "#{ counter }") %>
                  <% end %>
                <% end %>
            </div>
          <% end %>

          <div class="status">
            <% if current_user %>
              <p>View status: <span><%= user_view_status %></span></p>
              <%= render 'add_user_view_status' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="my-4">
  <h3>Seasons:</h3>
  <ul class="list">
    <% @serial.seasons.ordered_by_count.each do |season| %>
      <li class="list-item">
        <%= link_to serial_season_path(@serial, season), class: "badge badge-light" do %>
          Season <%= season.season_number %>
        <% end %>
      </li>
    <% end %>
  </ul>

  <% if current_user&.admin? %>
    <%= link_to 'Edit', edit_serial_path(@serial), class: "btn btn-light" %>
  <% end %>
  <%= link_to 'Back', serials_path, class: "btn btn-light" %>
</div>
