<h1>Serials search</h1>

<%= form_for search_path, method: :get do |f| %>
  <p>
    <%= f.label 'Serach for' %>
    <%= text_field_tag :q, params[:q] %>
    <%= submit_tag 'Search' %>
  </p>
<% end %>

<ul>
  <%= @serials.each do |serial| %>
    <li>
      <h3>
        <%= link_to serial.title, controller: 'serials', action: 'show', id: serial.id %>
      </h3>
    </li>
  <% end %>
</ul>
