<h1>Users</h1>

<br>

<% if current_user && current_user.admin %>
  <%= link_to 'All', users_path, class: "btn btn-light" %>
  <%= link_to 'Admins', users_path(need: 'adm'), class: "btn btn-light" %>
<% end %>

<br><br>

  <div class="list-group">
    <% @users.ordered_by_first_name.each do |user| %>
      <div class="list-group-item user-container">
        <div class="">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><%= user.first_name %> <%= user.last_name %></h5>
          </div>
          <p class="mb-1"><%= user.email %></p>
        </div>
        <div class="">
          <%= link_to 'Show', user, class: 'btn btn-light' %>
          <% if current_user && current_user.admin %>
            <%= link_to 'Edit', edit_user_path(user), class: 'btn btn-light' %>
            <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-light' %></td>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
