<div class="serial-container">
  <h4>Season <%= @episode.season.season_number %></h4>
  <h2>Episode <%= @episode.episode_number %>. <%= @episode.title %></h2>
  <p>Release date: <%= @episode.release_date %></p>
  <br>

  <h4>What people think of this episode?</h4>

  <br>

  <% if Comment.where(episode_id: @episode.id).empty? %>
    <p>No comments.</p>
  <% else %>
    <% Comment.episode_comments_list(@episode.id, nil).each do |comment| %>
      <%= render "episodes/comments/comment_item", comment: comment %>
    <% end %>
  <% end %>

  <br>

  <% if current_user.present? %>
    <h4>Add a comment</h4>
    <%= render partial: "episodes/comments/form"  %>
  <% else %>
    <p class="comments-disabled">Only authorised users can add comments.</p>
  <% end %>

</div>

<br>

<%= link_to 'Back', serial_season_path(@episode.season.serial.id, @episode.season.id), class: "btn btn-light" %>
