<%= form_for([@episode, @episode.comments.build]) do |f| %>

  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :episode_id, value: @episode.id %>
  <%= f.hidden_field :comment_id, value: local_assigns[:comment_id] %>

  <p><%= local_assigns[:comment] %></p>

  <label for="create-comment-text-area">
    <%= current_user.email %>
  </label>
  <p>
    <%= f.text_area :content, size: '85x4', class: "form-control", id: "create-comment-text-area" %>
  </p>

  <div class="actions">
    <%= f.submit class: "btn btn-light" %>
  </div>
<% end %>
