<%= form_for([@episode, @episode.comments.build]) do |f| %>

  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :episode_id, value: @episode.id %>

  <%= current_user.first_name %> <%= current_user.last_name %>
  <p>
    <% f.label :content %>
    <%= f.text_area :content, size: '85x4' %>
  </p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
